/* styles.css */
.login {
    font-family: Arial, sans-serif;
    color: #fff; /* Text color */
    background-color: #333; /* Background color */
    border: none; /* Remove borders */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underlines */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth transition */
    position: absolute;
    top: 10px;
    right: 150px;
}

/* categories css */
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    list-style: none;
    padding: 0;
}

.category-item {
    text-align: center;
}

.category-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}


.sell {
    font-family: Arial, sans-serif;
    color: #fff; /* Text color */
    background-color: #333; /* Background color */
    border: none; /* Remove borders */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underlines */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth transition */
    position: absolute;
    top: 10px;
    right: 130px;
}

.logout {
    font-family: Arial, sans-serif;
    color: #fff; /* Text color */
    background-color: #333; /* Background color */
    border: none; /* Remove borders */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underlines */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth transition */
    position: absolute;
    top: 10px;
    right: 30px;
}

.register {
    font-family: Arial, sans-serif;
    color: #fff; /* Text color */
    background-color: #333; /* Background color */
    border: none; /* Remove borders */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underlines */
    transition: background-color 0.3s ease; /* Smooth transition */
    position: absolute;
    top: 10px;
    right: 10px; /* Adjust as needed */
}

.login:hover, .sell:hover, .logout:hover, .register:hover {
    background-color: #555; /* Darker background color on hover */
}

/* clothing image size and style */

.clothing-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.clothing-item img {
    max-width: 200px;
    max-height: 120px;
    margin-right: 1000px;
}

.clothing-details {
    flex: 1;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: grey;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

a {
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

/* Form styles */
.login-form {
    width: 50%; /* Adjust width as needed */
    margin: 50px auto; /* Center the form horizontally */
    background-color: #fff; /* Form background color */
    padding: 20px; /* Add padding for spacing */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.login-form h2 {
    text-align: center; /* Center the heading */
}

.login-form p {
    margin-bottom: 10px; /* Add spacing between paragraphs */
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"] {
    width: 100%; /* Make elements full width */
    padding: 10px; /* Add padding for spacing */
    margin-bottom: 10px; /* Add spacing between elements */
    border-radius: 5px; /* Add rounded corners */
    border: 1px solid #ccc; /* Add border */
}

.login-form input[type="submit"] {
    background-color: #333; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    cursor: pointer; /* Set cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.login-form input[type="submit"]:hover {
    background-color: #555; /* Darker background color on hover */
}

.login-form p.no-account {
    text-align: center;
    margin-top: 20px;
}

.login-form p.no-account a {
    color: #333;
}

.login-form p.no-account a:hover {
    text-decoration: underline;
}

/* New garment form */

.new-garment-form {
    width: 50%; /* Adjust width as needed */
    margin: 0 auto; /* Center the form horizontally */
    background-color: #fff; /* Form background color */
    padding: 20px; /* Add padding for spacing */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.new-garment-form h2 {
    text-align: center; /* Center the heading */
}

.new-garment-form p {
    margin-bottom: 10px; /* Add spacing between paragraphs */
}

.new-garment-form textarea,
.new-garment-form select,
.new-garment-form input[type="submit"] {
    width: 100%; /* Make elements full width */
    padding: 10px; /* Add padding for spacing */
    margin-bottom: 10px; /* Add spacing between elements */
    border-radius: 5px; /* Add rounded corners */
    border: 1px solid #ccc; /* Add border */
}

.new-garment-form input[type="submit"] {
    background-color: #333; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    cursor: pointer; /* Set cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.new-garment-form input[type="submit"]:hover {
    background-color: #555; /* Darker background color on hover */
}

