/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

a {
    color: #6e6262; /* White text color for links */
    transition: color 0.3s ease; /* Smooth transition for link color */
}

a:hover {
    color: hsl(250, 42%, 68%); /* Change link color on hover */
}

/* header css */
header h1 {
    margin: 0; /* Remove default margin for h1 */
    color: rgb(51, 44, 44);
    font-size: 48px; /* Larger font size */
    letter-spacing: 2px; /* Increase letter spacing for a modern look */
    text-transform: uppercase; /* Convert text to uppercase */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
}

header a {
    font-family: Arial, sans-serif;
    color: rgb(51, 44, 44);
    text-decoration: none; /* Removes underline from links */
}

/* footer css */
footer {
    background-color: #333232;
    color: #fff;
    padding: 7px;
    text-align: center;
    font-family: Arial, sans-serif;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* chats html css */
.chat-item {
    padding: 15px;
    background-color: #f1f1f1;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.chat-item:hover {
    background-color: #e0e0e0; /* Darken the background color on hover */
}

.chat-link {
    color: #333;
    text-decoration: none;
}


/* garment page css */
.garmentpage-item {
    background-color: #f2f2f2; /* Adjust background color as needed */
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    display: flex; /* Make the item container flex */
    align-items: center; /* Align items vertically */
}

.garmentpage-item img {
    max-width: 100%; /* Ensure image responsiveness */
    display: block;
    border-radius: 5px;
    max-height: 400px; /* Adjust the maximum height of the image */
}

.garmentpage-image {
    width: 100%; /* Set width to fill container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
}

.buy-button {
    background-color: #0c0c0c; /* Green background */
    border: none;
    color: white; /* White text */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    transition-duration: 0.4s;
    margin-bottom: 10px;
}

.buy-button a {
    color: white; /* White text for link */
    text-decoration: none; /* Remove underline from link */
}

.buy-button:hover {
    background-color: #999b99; /* Darker green on hover */
}


.details-container {
    margin-bottom: 90px;
    margin-left: 20px;
    flex-grow: 1; /* Allow the details to take up remaining space */
}

.slideshow-container {
    max-width: 1000px; /* Set max-width of slideshow container */
    margin: 0 auto; /* Center the slideshow */
}

.mySlides {
    display: none; /* Hide slides by default */
}

/* INdex.hmtl css */
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    list-style: none;
    padding: 0;
}

.category-item {
    text-align: center;
    padding: 0;
}

.category-image, .clothing-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15%;
}

/* item_messages html css */
/* Chat form container styling */
.chat-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styling */
.chat-form h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Paragraph styling */
.chat-form p {
    color: #555;
    margin-bottom: 10px;
}

/* Textarea styling */
.chat-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 20px;
}

/* Submit button styling */
.chat-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-form input[type="submit"]:hover {
    background-color: #555;
}

/* Sell, logout, register, usertab css */

.sell, .logout, .login, .register, .usertab, .balance {
    font-family: Arial, sans-serif;
    color: #fff; /* Text color */
    background-color: #333; /* Background color */
    border: none; /* Remove borders */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underlines */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth transition */
    position: absolute;
}

.login:hover, .sell:hover, .logout:hover, .register:hover, .usertab:hover, balance:hover {
    background-color: #555; /* Darker background color on hover */
}

/* Usertab, logout, register, sell placements, balance  */
.balance {
    top: 10px;
    right: 410px;
}

.usertab {
    top: 10px;
    right: 280px;
}

.logout {
    top: 10px;
    right: 30px;
}

.login {
    top: 10px;
    right: 153px;
}


.register {
    top: 10px;
    right: 10px;
}
.sell {
    top: 10px;
    right: 133px;
}

/* loginform css */
.login-form {
    width: 50%; /* Adjust width as needed */
    margin: 50px auto; /* Center the form horizontally */
    background-color: #fff; /* Form background color */
    padding: 20px; /* Add padding for spacing */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.login-form h2 {
    text-align: center; /* Center the heading */
}

.login-form p {
    margin-bottom: 10px; /* Add spacing between paragraphs */
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"] {
    width: 100%; /* Make elements full width */
    padding: 10px; /* Add padding for spacing */
    margin-bottom: 10px; /* Add spacing between elements */
    border-radius: 5px; /* Add rounded corners */
    border: 1px solid #ccc; /* Add border */
}

.login-form input[type="submit"] {
    background-color: #333; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    cursor: pointer; /* Set cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.login-form input[type="submit"]:hover {
    background-color: #555; /* Darker background color on hover */
}

.login-form p.no-account {
    text-align: center;
    margin-top: 20px;
}

.login-form p.no-account a {
    color: #333;
}

.login-form p.no-account a:hover {
    text-decoration: underline;
}

/* New garment form */

.new-garment-form {
    width: 70%; /* Adjust width as needed */
    margin: 0 auto; /* Center the form horizontally */
    background-color: #fff; /* Form background color */
    padding: 70px;
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.new-garment-form h2 {
    text-align: center; /* Center the heading */
}

.new-garment-form p {
    margin-bottom: 7px; /* Add spacing between paragraphs */
}

.new-garment-form textarea, .new-garment-form select, .new-garment-form input[type="submit"] {
    width: 100%; /* Make elements full width */
    padding: 10px; /* Add padding for spacing */
    margin-bottom: 10px; /* Add spacing between elements */
    border-radius: 5px; /* Add rounded corners */
    border: 1px solid #ccc; /* Add border */
}

.new-garment-form input[type="submit"] {
    background-color: #333; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    cursor: pointer; /* Set cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.new-garment-form input[type="submit"]:hover {
    background-color: #555; /* Darker background color on hover */
}


/* Search form CSS */

.searchform {
    position: absolute;
    top: 5px;
    right: 950px; /* Adjust the positioning as needed */
}

.searchform input[type="text"],

.searchform button[type="submit"] {
    font-family: Arial, sans-serif;
    color: #fff; /* Text color */
    background-color: #333; /* Background color */
    border: none; /* Remove borders */
    padding: 13px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underlines */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.searchform input[type="text"] {
    width: 200px; /* Adjust width as needed */
    margin-right: 10px; /* Adjust margin as needed */
    padding-right: 10px; /* Adjust padding as needed */
    cursor: text;
}

.searchform button[type="submit"] {
    background-color: #333; /* Background color */
}

.searchform input[type="text"]:focus,
.searchform button[type="submit"]:focus {
    outline: none; /* Remove outline on focus */
}

.searchform button[type="submit"]:hover {
    background-color: #555; /* Darker background color on hover */
}