{% include 'header.html' %}
<body>
    <header>
        <h2>About Us</h2>
    </header>

    <main>
        <p>Welcome to CDD Clothing Company! We are dedicated to providing high-quality clothing for our customers.</p>
        <p>Our mission is to help people to find authenticated clothing from high end brands for competitive prices.</p>
        <p>At CDD Clothing Company, we quarantee an friendly customer support and 100% authenticated clothing listed</p>
        <p>Welcome to CDD Clothing Company! We are dedicated to providing high-quality clothing for our customers.</p>
        <p>Our mission is to help people to find authenticated clothing from high end brands for competitive prices.</p>
        <p>At CDD Clothing Company, we quarantee an friendly customer support and 100% authenticated clothing listed</p>
    </main>

    {% include 'footer.html' %}
</body>
</html>
