<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>

    <main>
        <p>Welcome to CDCA Clothing Company! We are dedicated to providing high-quality clothing for our customers.</p>
        <p>Our mission is to help people to find authenticated clothing from high end brands for competitive prices.</p>
        <p>At CDCA Clothing Company, we quarantee an friendly customer support and 100% authenticated clothing listed</p>
    </main>

    {% include 'footer.html' %}
</body>
</html>
