{% include 'header.html' %}
{% include 'search.html' %}

{% if category_name %}
    <h2>Browse {{ category_name }}</h2>
{% else %}
    {% if clothes and query %}
        <h2>Results for "{{ query }}"</h2>
    {% elif query %}
        <h2>No results for the search "{{ query }}"</h2>
    {% else %}
        <h2>Browse "{{ brand_name }}"</h2>
    {% endif %}
{% endif %}

<!-- Clothes rendered here -->
<ul class="category-grid">
    {% for item in clothes %}
        <li class="category-item">
            <div>
                <p><strong><a href="/garment/{{ item.id }}">{{ item.name }}</a></strong></p>
                <!-- Display an image using the filename from static/uploads -->
                {% if item.image_path %}
                    <a href="/garment/{{ item.id }}"><img class="category-image" src="{{ url_for('static', filename='uploads/' + item.image_path) }}" alt="Clothing" style="max-width: 200px;"></a>
                {% endif %}
                <ul>
                    <p><strong>{{ item.brand }}</strong></p>
                    <p><strong>{{ item.size }}</strong></p>
                    <p><strong>{{ item.price }}€</strong></p>
                    <p><strong>Listed by:</strong> {{ item.username }}</p>
                </ul>
            </div>
        </li>
    {% endfor %}
</ul>

{% if session.username %}
    <!-- User is logged in, show logout link -->
    <a class="logout" href="/logout">Sign out</a>
    <a class="sell" href="/new">Sell a garment</a>
{% else %}
    <!-- User is not logged in, show login and register links -->
    <a class="login" href="/login">Sign in</a>
    <a class="register" href="/register">Register here</a>
{% endif %}
<!-- footer -->
{% include 'footer.html' %}
