<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCD:</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='CCDLOGO.png') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='CCDLOGO.png') }}" type="image/x-icon">    
</head>
<body>
    {% include 'header.html' %}
    {% include 'search.html' %}

    {% if category_name %}
        <h2>Browse {{ category_name }}</h2>
    {% else %}
        {% if clothes and query %}
            <h2>Results for "{{ query }}"</h2>
        {% elif query %}
            <h2>No results for the search "{{ query }}"</h2>
        {% else %}
            <h2>Browse "{{ brand_name }}"</h2>
        {% endif %}
    {% endif %}

    <!-- Clothes rendered here -->
    <ul class="category-grid">
        {% if clothes %}
            {% for item in clothes %}
                <li class="category-item">
                    <p>
                        <strong>
                            <a 
                                href="/garment/{{ item.id }}">{{ item.name }}
                            </a>
                        </strong>
                    </p>
                    <!-- Check if the clothing item has associated images -->
                    {% if item.images %}
                        <!-- Render only the first image associated with the clothing item -->
                        <a href="/garment/{{ item.id }}"><img class="category-image" src="data:image/jpeg;base64,{{ item.images[0].data | b64encode }}" alt="Clothing"></a>
                    {% endif %}
                    <ul>
                        <p><strong>{{ item.brand }}</strong></p>
                        <p><strong>{{ item.size }}</strong></p>
                        <p><strong>{{ item.price }}€</strong></p>
                    </ul>
                </li>
            {% endfor %}
        {% else %}
            <h2>No items</h2>
        {% endif %}
    </ul>

    {% if session.username %}
        <!-- User is logged in, show logout link -->
        <a class="usertab" href="/users/{{ session.username }}"> {{ session.username }}</a>
        <a class="logout" href="/logout">Sign out</a>
        <a class="sell" href="/new">Sell a garment</a>
        <a class="balance">Balance: {{ user.balance }}€</a>
    {% else %}
        <!-- User is not logged in, show login and register links -->
        <a class="login" href="/login">Sign in</a>
        <a class="register" href="/register">Register here</a>
    {% endif %}
    <!-- footer -->
    {% include 'footer.html' %}
</body>
</html>

