{% include 'header.html' %}
{% include 'search.html' %}

<!-- Garment rendered here -->
<ul class="garmentpage-grid">
    {% for item in clothing %}
        <li class="garmentpage-item">
            <div class="item-container">
                <!-- Display an image using the filename from static/uploads -->
                {% set image_filenames = item.image_path[1:-1].split(',') %}
                <div class="slideshow-container">
                    {% for image in image_filenames %}
                        <div class="mySlides fade">
                            <img class="garmentpage-image" src="{{ url_for('static', filename='uploads/' + image)}}" alt="Clothing">
                        </div>
                    {% endfor %}
                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <div class="details-container">
                    <p><strong>{{ item.name }}</strong></p>
                    <p><strong>Category:</strong> {{ item.category }}</p>
                    <p><strong>About the item:</strong> <br>{{ item.description }}</br></p>
                    <p><strong>Size:</strong> {{ item.size }}</p>
                    <p><strong>Price:</strong> {{ item.price }}€</p>
                    <p><strong>Listed by: </strong>{{ item.username }} </p>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

{% if session.username %}
    <!-- User is logged in, show logout link -->
    <a class="logout" href="/logout">Sign out</a>
    <a class="sell" href="/new">Sell a garment</a>
{% else %}
    <!-- User is not logged in, show login and register links -->
    <a class="login" href="/login">Sign in</a>
    <a class="register" href="/register">Register here</a>
{% endif %}

<!-- footer -->
{% include 'footer.html' %}

<!-- Manual slideshow for the pictures -->
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
    }
</script>
