<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDCA </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>CDCA Clothing Company</h1>

    <!-- Clothes rendered here -->
    <ul>
        {% for item in result %}
            <li class="clothing-item">
                <div class="clothing-details">
                    <p><strong>Name: {{ item.name }}</strong></p>
                    <ul>
                        <li><strong>Description:</strong> {{ item.description }}</li>
                        <li><strong>Category:</strong> {{ item.category }}</li>
                        <li><strong>Brand:</strong> {{ item.brand }}</li>
                        <li><strong>Size:</strong> {{ item.size }}</li>
                        <li><strong>Price:</strong> {{ item.price }}€</li>
                        <li><strong>Listed by:</strong> {{ item.username }}</li>
                    </ul>
                </div>
                <!-- Display a image using the filename from static/uploads-->
                {% if item.image_path %}
                    <img src="{{ url_for('static', filename='uploads/' + item.image_path) }}" alt="Clothing" style="max-width: 200px;">
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if session.username %}
        <!-- User is logged in, show logout link -->
        <p>Signed in by: {{ session.username }}</p>
        <a class="logout" href="/logout">Sign out</a>
        <a class="sell" href="/new">Sell a garment</a>
    {% else %}
        <!-- User is not logged in, show login and register links -->
        <a class="login" href="/login">Sign in</a>
        <a class="register" href="/register">Register here</a>
    {% endif %}
    <!-- footer -->
    {% include 'footer.html' %}
</body>
</html>
