<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCD:</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='CCDLOGO.png') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='CCDLOGO.png') }}" type="image/x-icon">    
</head>
<body>
    {% include 'header.html' %}
    {% include 'search.html' %}

    <!-- Message sending page -->
    <form action="/send_message/{{ sender_username }}/{{ receiver_username }}/{{ garment.id }}" class="chat-form" method="POST" enctype="multipart/form-data">
        <h2>Send a message about an item</h2>
        <p>Username: {{ sender_username }} send a message to {{ receiver_username}} about {{ garment.name }}:</p>

        {% for message in messages %}
            <p>{{message.sender_username}}: {{message.message_body}}</p>
        {% endfor %}
        
        <!-- Textarea for message content -->
        <textarea name="message_body" rows="3" cols="40"></textarea>

        <!-- Hidden input fields for sender_id and receiver_id -->
        <input type="hidden" name="sender_username" value="{{ sender_username }}">
        <input type="hidden" name="receiver_username" value="{{ receiver_username }}">
        <input type="hidden" name="item_id" value="{{ garment.id }}">
        
        <input type="submit" value="Send">

    {% if session.username %}
        <!-- User is logged in, show logout link -->
        <a class="usertab" href="/users/{{ session.username }}"> {{ session.username }}</a>
        <a class="logout" href="/logout">Sign out</a>
        <a class="sell" href="/new">Sell a garment</a>
        <a class="balance">Balance: {{ user.balance }}€</a>
    {% else %}
        <!-- User is not logged in, show login and register links -->
        <a class="login" href="/login">Sign in</a>
        <a class="register" href="/register">Register here</a>
    {% endif %}
</body>
</html>