<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='CCDLOGO.png') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='CCDLOGO.png') }}" type="image/x-icon">
    <style>
        .image-preview {
            max-width: 100px; /* Set maximum width */
            max-height: 100px; /* Set maximum height */
            margin-right: 10px; /* Add margin between images */
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    <form action="/modify/{{ garment.id }}" method="POST" class="new-garment-form" enctype="multipart/form-data">
        <h2>Modify {{ garment.name }} Details</h2>
        <br>
        <p>Name:</p>
        <textarea name="name" rows="1" cols="40" required>{{ garment.name }}</textarea>

        <p>Pictures (Max 4), (Accepted extensions: 'png', 'jpg', 'jpeg', 'gif'):</p>
        <input type="file" name="image" multiple onchange="displaySelectedImages(this)" required>
        <br>
        <div id="image-preview-container"></div>

        <p>Description:</p>
        <textarea name="description" rows="3" cols="40" required>{{ garment.description }}</textarea>

        <p>Brand:</p>
        <input type="text" name="brand" id="brandInput" oninput="searchBrand()" placeholder="Type brand name here..." value="{{ garment.brand }}">
        <div id="brandList"></div>

        <p>Category:</p>
        <select name="category" required>
            <option value="">Choose a category...</option>
            {% for category in categories %}
                <option value="{{ category.name }}" {% if garment.category == category.name %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>

        <p>Size:</p>
        <input type="text" name="size" placeholder="Enter size here ex. S or EU41..." required value="{{ garment.size }}">

        <p>Price (Type just the number, currency added later):</p>
        <input type="text" name="price" required pattern="^\d*(\.\d+)?$" title="Price must be a number between 15 and 10,000. Decimal points are allowed." oninput="validatePrice(this)" value="{{ garment.price }}">
        <br>
        <input type="submit" value="Save Changes">
    </form>

    <script>
        function searchBrand() {
            var input = document.getElementById('brandInput').value;
            var brandList = document.getElementById('brandList');
            if (input.length > 0) {
                // Simulate fetching brands from the server based on user input
                fetch('/search-brand?query=' + input)
                    .then(response => response.json())
                    .then(data => {
                        brandList.innerHTML = ''; // Clear previous results

                        let brandExists = data.some(brand => brand.toLowerCase() === input.toLowerCase());

                        data.forEach(function(brand) {
                            brandList.innerHTML += '<div onclick="selectBrand(\'' + brand + '\')">' + brand + '</div>';
                        });

                        if (!brandExists) {
                            brandList.innerHTML += '<div onclick="selectBrand(\'' + input + '\')">Add new brand: "' + input + '"</div>';
                        }

                        
                    });
            } else {
                brandList.innerHTML = '';
            }
        }

        function selectBrand(name) {
            var brandInput = document.getElementById('brandInput');
            brandInput.value = name;
            document.getElementById('brandList').innerHTML = '';
        }

        function validatePrice(input) {
            const value = parseFloat(input.value);
            if (value < 15 || value > 10000) {
                input.setCustomValidity("Price must be between 15€ and 10,000€.");
            } else {
                input.setCustomValidity("");
            }
        }

        function displaySelectedImages(input) {
            const previewContainer = document.getElementById('image-preview-container');
            previewContainer.innerHTML = ''; // Clear previous previews

            const files = input.files;
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const img = document.createElement('img');
                img.classList.add('image-preview');

                const reader = new FileReader();
                reader.onload = function(e) {
                    img.src = e.target.result;
                };
                reader.readAsDataURL(file);

                previewContainer.appendChild(img);
            }
        }
    </script>
</body>
</html>
