<!-- New garment adding page -->
<!-- Select options for brand, category, and size from the database -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<form action="/send" method="POST" class="new-garment-form">
    <h2>Add new garment for sale</h2> <br>
    <p>Name:</p><textarea name="name" rows="1" cols="40"></textarea>
    <p>Brand:</p>
    <select name="brand">
        <option value="">Choose the brand...</option>
        {% for brand in brands %}
            <option value="{{ brand.name }}">{{ brand.name }}</option>
        {% endfor %}
    </select>
    <p>Category:</p>
    <select name="category">
        <option value="">Choose a category...</option>
        {% for category in categories %}
            <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    <p>Size:</p>
    <select name="size">
        <option value="">Choose size...</option>
        {% for size in sizes %}
            <option value="{{ size.name }}">{{ size.name }}</option>
        {% endfor %}
    </select>
    <p>Price:</p><textarea name="price" rows="1" cols="10"></textarea>
    <br>
    <input type="submit" value="Submit">
</form>
