<!-- New garment adding page -->
<!-- Select options for brand, category, and size from the database -->
{% include 'header.html' %}
<form action="/new" method="POST" class="new-garment-form" enctype="multipart/form-data">
    <h2>Add new garment for sale</h2> 
        <br>
            <p>Name:</p><textarea name="name" rows="1" cols="40"></textarea>

            <!--  Picture added here -->
            <p>Pictures (Max 4), (Accepted extensions:'png', 'jpg', 'jpeg', 'gif'):</p><input type="file" name="image" multiple>

            <p>Description:</p><textarea name="description" rows="3" cols="40"></textarea>

            <p>Brand:</p>
            <select name="brand">
                <option value="">Choose the brand...</option>
                {% for brand in brands %}
                    <option value="{{ brand.name }}">{{ brand.name }}</option>
                {% endfor %}
            </select>

            <p>Category:</p>
            <select name="category">
                <option value="">Choose a category...</option>
                {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>

            <p>Size:</p>
            <select name="size">
                <option value="">Choose size...</option>
                {% for size in sizes %}
                    <option value="{{ size.name }}">{{ size.name }}</option>
                {% endfor %}
            </select>

            <p>Price (Type just the number currency added later):</p><textarea name="price" rows="1" cols="10"></textarea>
        <br>
    <input type="submit" value="Submit">
</form>