<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCD:</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='NEWCDDLOGO.png') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='NEWCDDLOGO.png') }}" type="image/x-icon">     
</head>
<body>
    {% include 'header.html' %}
    {% include 'search.html' %}

    <h2>{{ username }}'s listings:</h2>

    <!-- If there are no listings, display a message and offer a link to list an item -->
    {% if not clothes %}
        <p>No listings made yet.</p>
        <a href="/new">List an item here</a>
    {% else %}
        <!-- Create a dictionary to group items by status -->
        {% set items_by_status = {'available': [], 'sold': [], 'bought': []} %}
        {% for item in clothes %}
            {% if item.status == 'available' %}
                {% set _ = items_by_status['available'].append(item) %}
            {% elif item.status == 'sold' %}
                {% set _ = items_by_status['sold'].append(item) %}
            {% elif item.status == 'bought' %}
                {% set _ = items_by_status['bought'].append(item) %}
            {% endif %}
        {% endfor %}
        

        <!-- Iterate over the grouped items and render each group -->
        {% for status, items in items_by_status.items() %}
            <!-- Check if the user is viewing their own listings to show sold and bought -->
            {% if session.username == username or status == 'available' %}
                {% if items %}
                    <h4>{{ status|capitalize }} listings</h4>
                    <ul class="category-grid">
                        {% for item in items %}
                            <li class="category-item">
                                <div>
                                    <p><strong><a href="/garment/{{ item.id }}">{{ item.name }}</a></strong></p>
                                    <!-- Check if the clothing item has associated images -->
                                    {% if item.image_data %}
                                        <!-- Render only the first image associated with the clothing item -->
                                        <a href="/garment/{{ item.id }}"><img class="category-image" src="data:image/jpeg;base64,{{ item.image_data | b64encode }}" alt="Clothing"></a>
                                    {% endif %}
                                    <ul>
                                        <p><strong>{{ item.brand }}</strong></p>
                                        <p><strong>{{ item.size }}</strong></p>
                                        <p><strong>{{ item.price }}€</strong></p>
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ username }} has no {{ status }} listings.</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if session.username == username %}
        <h2>Your balance: <strong>{{user.balance}}€</strong></h2>

        <h2>Your chats:</h2>
            {% if chats %}
                {% for chat in chats %}
                    {% if session.username == chat.buyer_username %}
                        <h3>Buying</h3>
                    {% else %}
                        <h3>Selling</h3>
                    {% endif %}
                    <p class="chat-item">
                        <a href="/send_message/{{ chat.buyer_username }}/{{ chat.seller_username }}/{{ chat.item_id }}" class="chat-link">
                            {{ last_messages.get(chat.id).sender_username }}
                            {% if last_messages.get(chat.id) %}
                                : {{ last_messages.get(chat.id).message_body }}
                                <p>Open chat with {{ chat.seller_username if session.username == chat.buyer_username else chat.buyer_username }} about "{{ chat.item_name }}"</p>
                            {% endif %}
                            {% if chat.image_data %}
                                <!-- Display the item's image if available -->
                                <img src="data:image/jpeg;base64,{{ chat.image_data | b64encode }}" alt="{{ chat.item_name }}" style="width: 70px; height: 70px;">
                            {% endif %}
                        </a>
                    </p>
                {% endfor %}
            {% else %}
                <p>No chats</p>
            {% endif %}
    {% endif %}
        
    {% if session.username %}
        <!-- User is logged in, show logout link -->
        <a class="usertab" href="/users/{{ session.username }}">{{ session.username }}</a>
        <a class="logout" href="/logout">Sign out</a>
        <a class="sell" href="/new">Sell a garment</a>
        <a class="balance" href="/balance/{{ session.username }}">Balance: {{ user.balance }}€</a>
    {% else %}
        <!-- User is not logged in, show login and register links -->
        <a class="login" href="/login">Sign in</a>
        <a class="register" href="/register">Register here</a>
    {% endif %}

    <!-- footer -->
    <!-- {% include 'footer.html' %} -->
</body>
</html>
